# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs
*.log
logs/

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Optional REPL history
.node_repl_history

# Output directories
dist/
build/
